@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --oxford-blue: #0b132bff;
  --space-cadet: #1c2541ff;
  --y-in-mn-blue: #3a506bff;
  --maximum-blue-green: #5bc0beff;
  --white: #ffffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--maximum-blue-green);
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.app {
  background-color: var(--maximum-blue-green);
}

.product-list,
.sale-list {
  background-color: var(--y-in-mn-blue);
  height: 200px;
  max-height: auto;
  padding: 2px 3px 5px 3px;
}

.app h2 {
  background-color: var(--y-in-mn-blue);
  font-family: 'Press Start 2P', cursive;
  padding-top: 7px;
  padding-bottom: 10px;
  color: white;
  border-top: var(--y-in-mn-blue) solid;
  margin-top: 0px;
}

.app h2 svg {
  color: black;
  margin-left: 5px;
  margin-right: 10px;
  height: 2rem;
  width: 2rem;
}

.app h3 {
  font-family: 'Press Start 2P', cursive;
  padding-top: 7px;
  padding-bottom: 10px;
  color: black;
  font-size: 18px;
  text-align: center;
  background-color: var(--maximum-blue-green);
  border: var(--maximum-blue-green) solid 20px;
  border-radius: 5px;
  margin-top: 8px;
}

input {
  font-family: 'Silkscreen', cursive;
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 8px;
  width: 80%;
  border-radius: 5px;
  height: 30px;
  display: block;
}


label{
  font-family: 'Press Start 2P';
  font-size: 12px;
}

button {
  font-weight: bold;
  font-size: 16px;
  font-family: 'Silkscreen', cursive;
  border-radius: 5px;
  display: inline-block;
}


th {
  background-color: antiquewhite;
  font-family: 'Silkscreen', cursive;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  border-radius: 5px;
  border-color: black solid 2px;
}

.app-navigation-item {
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 5px;
}

.app-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: calc(100vh - 100px);
}

.app-navigation .app-navigation-menu {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  border: var(--y-in-mn-blue) solid 4px;
  height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.app-navigation .app-navigation-menu .app-navigation-item {
  text-decoration: none;
  color: black;
  padding: 0px 5px 0px 5px;
}

.app-navigation .app-navigation-menu .app-navigation-item.selected {
  font-weight: bold;
}

.app-navigation-content {
  flex-basis: calc(100% - 160px);
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.loading-animation {
  display: inline-block;
  padding: 1rem;
}

.product-table tr.odd {
  background-color: aqua;
}

.product-table tr.even {
  background-color: burlywood;
}

.form-group .form-field {
  display: flex;
}

.form-group .form-field .medium {
  max-width: 100px;
}

.form-group .form-field .tiny {
  max-width: 50px;
}

.form-group .form-field .select {
  width: 100%;
  min-width: 200px;
}

.sale-form,
.product-form {
  background-color: rgb(167, 157, 157);
  padding: 1rem;
  height: fit-content;
  border-radius: 10px;
  min-width: 350px;
}

.sale-form .sale-form-header h3 {
  margin-top: 0px;
}

.form-title,
.sale-form .form-field {
  display: flex;
  justify-content: space-between;
}

.sale-form .form-field {
  min-height: 40px;
  margin-bottom: 0.5rem;
}

.form-group .form-field button {
  max-height: 20px;
  max-width: 20px;
  align-self: center;
}

.form-group-body .form-field button,
.form-group-header .form-title button {
  max-height: 20px;
  max-width: 20px;
  align-self: center;
  padding: 0 5px 0 5px;
  border-radius: 30%;
  border: 1px solid gray;
}

@media only screen and (max-width: 768px) {
  .app-navigation {
    flex-direction: column;
  }

  .app-navigation .app-navigation-menu {
    flex-direction: row;
  }

  .app-navigation .app-navigation-menu .app-navigation-item {
    margin-right: 1rem;
  }

  .app-navigation .app-navigation-menu .app-navigation-item.selected {
    background-color: burlywood;
  }

  .app-navigation .sale-list,
  .app-navigation .product-list {
    height: calc(100vh - 105px);
    width: 100%;
    background: burlywood;
  }

}